*{
    background-color:#282828;
    color:white;
}
li{
    color:#528B8B;
    font-size:20px;
}
.label{
    font-size:30px;
    font-family:fantasy;
    letter-spacing: 0.3px;
    color:orange;
}
.botaoverificar{
    background-color: #282828;
    color:white;
    border: 1px solid orange;
    border-radius:10px;
    font-size:20px;
    font-family:fantasy;
    letter-spacing: 0.3px;
    width:10%;
    height:50px;
    gap:10px;
}
.botaoverificar:hover{
    border: 1px solid white;
}