*{background-color: #282828; letter-spacing: 0.3px;}
    .relogio{

        padding: 10px;
        height: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
    }

    .display{
        background-color: #282828;
        border: 1px solid orange;
        border-radius: 40px;
        width:300px;
        height: 100px;
        text-align:center;
        line-height:100px;
        color: #528B8B;
        font-size: 40px;
        font-family:fantasy;
    }
    .data{
        color:#282828;
        font-size: 20px;
        font-family:fantasy;
        padding:5px;
        font-weight: bold;
    }
    .ds{
        color:#282828;
        font-size: 20px;
        font-family:fantasy;
        padding:5px;
        font-weight: bold;
    }
    .botaovolta{
        background-color: #282828;
        width:100px;
        height:90px;
        text-align: center;
        color: #528B8B;
        font-size: 30px;
        font-family:fantasy;
        border: 1px solid orange;
    border-radius: 40px;   
    }
    .fococentral{
    width:90px;
    height: 80px;  
    background-color:#282828;
    color:#528B8B;
    font-family:fantasy;
    font-size:20px;
    border: 1px solid orange;
    border-radius: 10px;
    text-decoration:none; 
    }
    .fococentral-clicavel{
        background-color: #282828;
        width:300px;
        height: 100px;
        text-align:center;
        color: #528B8B;
        font-size: 20px;
        font-family:fantasy;    
    }
    
    .fococentral-clicavel:hover{
        color:white;
    }
        