body{
    background: linear-gradient(
        to right,
        #14161b 0%,
        #14161b 50%,
        #282828 50%,
        #282828 100%
    );
    font-family: roboto, arial, helvetica, sans-serif;
    color:white;
    font-size: 20px;
}
.mainh1{
    font-size:80px;
    color:#66999D;
    
}
header{
    /* posição fixa */
    position:fixed;
    /* Display flex */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:20px;
    top:3%;
    left:3%;
}
.meio{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:50%;
    width:100%;
    margin-top:10%;
}
.coluna{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.direita{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap:20px;
    width:30%;
    padding:10px;
    margin-left:10%;
}
.esquerda{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:20px;
    margin-right: 10%;
    width:30%;
    padding:10px;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color:#FE8019;
    font-size:20px;
    background:rgba(0, 0, 0, 0);
    border:0;
    width:100%;
    text-decoration: none;
    text-align:center;
    text-shadow: 0 0 3px #FE8019; /* Sujeito a mudanças */
}
a.button:hover{
    color: #66999D;

}
.button:after,.botaovoltar:after{
    border:1 px solid #FE8019;
    content:"";
    position:absolute;
    background-color:#FE8019;
    height:3px;
    width:0;
    left:0;
    bottom:0;
    transition:0.3s;
}

.button:hover::after,.botaovoltar:hover::after{
    width:100%;
}

a.botaovoltar{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color:#FE8019;
    font-size:25px;
    background:rgba(0, 0, 0, 0);
    border:0;
    text-decoration: none;
    text-align:center;
    position:fixed;
    bottom:3%;
    left:3%;
}

.display{
    font-size: 50px;
    font-family:fantasy;
    color:#FE8019
}
.digitavel{
    width:100%;
    font-size:25px;
    background:#14161b;
    border:1px solid #FE8019;
    border-radius: 10px;
    color:white;
    text-align:center;
    text-shadow: 0 0 3px #FE8019;
}
.digitavel:hover{
  border:1px solid white
}
/* Botão Verificar */
.btverificar{
    width:50%;
    font-size:25px;
    background:#14161b;
    border:1px solid #FE8019;
    color:#66999D;
    border-radius:10px;
    
}
.btverificar:hover{
    border:1px solid white;
}

/* Style do li da lista de array */
/* button{
    color:#FE8019;
    font-size:15px;
    background:rgba(0, 0, 0, 0);
    border:0;
    width:100%;
}
button:hover{
    border:1px solid #FE8019;
    color:white;
}
a{
    color:#FE8019;
    text-decoration: none;
    font-size: 20px;
    
}
a:hover{
    color: #66999D;
} */





/* #A89984 */
/* .displaycentral{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.divcentral{
    background-color: #282828;
    width:250px;
    height: 80px;
    font-family:fantasy;
    font-size:20px;
    border: 1px solid #FE8019;
    border-radius: 40px;
    text-decoration:none;
}
.divcentral-clicavel{
    background-color: #282828;
    color: #66999D;
    font-size: 30px;
    font-family:fantasy; 
    text-align: center;  
}
.divcentral-clicavel:hover{
    color:#2B3C44;
} */
