*{
    background-color: #282828;
}

.displaycentral{
    margin-top: 10%;
    height:500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.fococentral{
    background-color: #282828;
    width:250px;
    height: 80px;
    font-family:fantasy;
    font-size:20px;
    border: 1px solid orange;
    border-radius: 40px;
    text-decoration:none;
}
.fococentral-clicavel{
    background-color: #282828;
    color: #528B8B;
    font-size: 30px;
    font-family:fantasy; 
    text-align: center;  
}
.fococentral-clicavel:hover{
    color:white;
}