.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  border:2px solid orange;
  display:flex;
  align-content: center;
  flex-direction: column;
  border-radius:20px;
  padding:10px;
  width:30%;
  
}
.tabelas{
  display:flex;
  align-content: row;
  gap:10px;
  padding:10px;
}
a{
  background-color: #282828;
  color:white;
  border: 1px solid orange;
  border-radius:20px;
  font-size:50px;
  font-family:fantasy;
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right:auto;
}
a:hover{
  border: 1px solid white;
}
*{
  list-style-type: none;
  background-color:#282828;
}
.botaoentrar{
  background-color: #282828;
  color:white;
  border: 1px solid orange;
  border-radius:10px;
  font-size:20px;
  font-family:fantasy;
  letter-spacing: 0.3px;
}
.botaoentrar:hover{
  border: 1px solid white;
}
.borda{
  border:1px solid orange;
  border-radius:20px
}
.borda:hover{
  border: 1px solid white;
}
.container2{
  border:2px solid orange;
  display:flex;
  align-content: center;
  flex-direction: column;
  border-radius:20px;
  padding:10px;
  width:30%;
  gap:5px;
}