*{
    background-color: #282828;
    color: white;
}
.botaoverificar{
    background-color: #282828;
    color:white;
    border: 1px solid orange;
    border-radius:10px;
    font-size:20px;
    font-family:fantasy;
    letter-spacing: 0.3px;
    width:10%;
    height:50px;
    gap:10px;
}
.botaoverificar:hover{
    border: 1px solid white;
}
.quacentral{
    padding: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap:4px
}
.ctexto{
    color: orange;
    font-size: 20px;
    font-family:fantasy;
    padding:5px;
    font-size: 50px;
}
.campoPalavra{
    background-color: #282828;
    color: #528B8B;
    border:1px solid orange;
    width:50%;
    height: 10%;
    border-radius:20px;
    text-align:center;
}
.campoPalavra:hover{
    border:1px solid #528B8B;
    border-radius:20px;
}
.fococentral{
    width:90px;
    height: 80px;  
    background-color:#282828;
    color:#528B8B;
    font-family:fantasy;
    font-size:20px;
    border: 1px solid orange;
    border-radius: 10px;
    text-decoration:none; 
    }
.fococentral-clicavel{
    background-color: #282828;
    width:300px;
    height: 100px;
    text-align:center;
    color: #528B8B;
    font-size: 20px;
    font-family:fantasy;    
}

.fococentral-clicavel:hover{
    color:white;
}